




<div class="wrapper">
    <div>
        

<mat-vertical-stepper style="height: auto;" [linear]="true" #stepper [animationDuration]="'200'">
    <mat-step>
        <form>
            <ng-template matStepLabel style="font-size: 30px;" matStepperIcon="payments">Forma de pago</ng-template>
            <h2>Selecciona el metodo de pago de tu preferencia</h2>
            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Metodo de pago</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="food">
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p> Metodo de pago seleccionado:  <b>{{selectedValue}}</b></p>

            </form>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="shippingAddressForm" completed="false" editable="false" disabled>

        <div *ngIf="loginService.isLogged(); then logged else notLogged"></div>
        

        <ng-template #logged>
            <h2>Selecciona alguna de tus direcciones o crea una direccion donde quieres recibir tus productos</h2>



            <h3 style="font-weight: 300;">No tienes direcciones de envio agregadas, crea una nueva</h3>
    
    
    
    
            <button class="new-address-button" mat-stroked-button>Agregar direccion de envio <mat-icon>add</mat-icon>
                </button>

        </ng-template>

        <ng-template #notLogged>
            <div style="margin: 20px;">

                <h2>Inicia sesion y agrega alguna direccion de envio</h2>
                <button mat-stroked-button routerLink="/login">Iniciar sesion <mat-icon>login</mat-icon></button>
            </div>
        </ng-template>
       


            <mat-divider></mat-divider>




            <div class="address-section">
                <h3 style="font-weight: 300;">Si deseas solo enviar a alguna direccion en particular completa el siguiente formulario</h3>



                <form class="shipping-form" [formGroup]="shippingAddressForm">
                    <ng-template matStepLabel>Direccion de envio</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let state of states" [value]="state.value">{{state.viewValue}}</mat-option>
                        </mat-select>
        
                    </mat-form-field>
                    <mat-form-field class="address-field" appearance="fill">
                        <mat-label>Avenida</mat-label>
                        <input matInput placeholder="Avenida" formControlName="avenida" required>
                    </mat-form-field>
                    <mat-form-field class="address-field" appearance="fill">
                        <mat-label>Calle</mat-label>
                        <input matInput placeholder="Calle" formControlName="calle" required>
                    </mat-form-field>
                    <mat-form-field class="address-field" appearance="fill">
                        <mat-label>Casa o apartamento</mat-label>
                        <input matInput placeholder="Casa o apartamento" formControlName="casa_apartamento" required>
                    </mat-form-field>
                    <mat-form-field class="address-field-aditional" appearance="fill">
                        <mat-label>Informacion adicional de envio</mat-label>
                        <input matInput placeholder="Agrega algun detalle que tengamos que saber sobre tu envio"
                            formControlName="casa_apartamento">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious><mat-icon>navigate_before</mat-icon> Volver</button>
                        <button mat-button matStepperNext>Siguiente <mat-icon>navigate_next</mat-icon></button>
                    </div>
                </form>

            </div>


   
    </mat-step>
    <mat-step>

        <div class="payment-confirmation">

            <ng-template matStepLabel>Confirmacion de pago</ng-template>
            <h3 style="font-weight: 300; margin-top: 20px;">Has seleccionado como metodo de pago <b>{{selectedValue}}</b> completa los siguientes pasos para validar el
                pago 
            </h3>

            <div style="display: inline-flex;" class="step1">
                <button style="background-color: dodgerblue; color: white;" mat-mini-fab disabled>1</button>
                <h3 style="margin-left: 20px; font-weight: 300;">Verifica los productos en el recuadro derecho y realiza el pago de zelle por el monto indicado al correo: <b>jsdelduca@gmail.com</b> 
                    <button matTooltip="Copiar correo" mat-icon-button><mat-icon>content_copy</mat-icon></button>
            
                </h3>
            </div>

            <mat-divider></mat-divider>


            <div style="display: inline-flex;" class="step1">
                <button style="background-color: dodgerblue; color: white;" mat-mini-fab disabled>2</button>
                <h3 style="margin-left: 20px; font-weight: 300;">Escribe el numero de confirmacion en el formulario el cual sera verificado de inmediato</h3>
            </div>



            <form style="margin-left: 40px;" [formGroup]="confirmationForm">
                <mat-form-field appearance="outline">
                    <mat-label>Numero de confirmacion</mat-label>
                    <input matInput placeholder="Ej. i34xjf9" formControlName="numero_confirmacion" required>
                </mat-form-field>
            </form>

            <mat-divider></mat-divider>

            <div style="display: inline-flex;" class="step1">
                <button style="background-color: dodgerblue; color: white;" mat-mini-fab disabled>3</button>
                <h3 style="margin-left: 20px; font-weight: 300;">Verificaremos de inmediato el pago y te notificaremos cuando tu pedido este en transito</h3>
            </div>
            <h3 style="margin-left: 40px">Estado del pago: <b>Procesando</b></h3>
            <mat-progress-bar style="width: 80%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" mode="indeterminate"></mat-progress-bar>





            
          



        </div>

      
    </mat-step>
</mat-vertical-stepper>






    </div>

    <div style="width: 100%; background-color: white;">

        <app-products-modal></app-products-modal>


    </div>

</div>





