


img {
    display: inline-block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;

}


.desktop-toolbar{
    height: 100px;
    margin-bottom: 20px;
}



.desktop-display{
    font-size: 12px;
}


.sidenav-container{
    background-color: white;
}
  
    


