<app-main-toolbar>









    <div [ngSwitch]="page_name">
        <div *ngSwitchCase="'iluminacion'">
            <app-lightning-section></app-lightning-section>
        </div>



        <div *ngSwitchCase="'herramientas'">
            <app-herramientas-section></app-herramientas-section>

        </div>



        
        <div *ngSwitchCase="'lavadora'">
            <app-lavadora-sections></app-lavadora-sections>

        </div>




        
        <div *ngSwitchCase="'marcas'">
            <app-marcas></app-marcas>
            

        </div>





        
        <div *ngSwitchCase="'secadora'">
            <app-secadora-sections></app-secadora-sections>

        </div>





        
        <div *ngSwitchCase="'Refrigeracion automotriz'">
           <app-automotriz-sections></app-automotriz-sections>

        </div>











    </div>


    <!-- 
<div *ngIf="page_name === 'iluminacion'">
    <app-lightning-section></app-lightning-section>
</div>
 -->

















</app-main-toolbar>