

    <app-main-search-bar></app-main-search-bar>



    <mat-grid-list style="background-color: white;" cols="5" rowHeight="500px">
        <mat-grid-tile  [colspan]="2">
            <img [src]="data.imagePath" width="300px" height="300px" alt="">
                
          

            
        </mat-grid-tile>


        <mat-grid-tile style="background-color: white;" [colspan]="2">
         

            <div style="margin-right: 40%;">
   

                <h3 style="font-weight: bold;">Descripcion del producto:</h3>
                <h4>{{data.category_name}}</h4>
                <h3 style="font-weight: bold;">Marca:</h3>
                <h4>{{data.category_name}}</h4>
                <h3 style="font-weight: bold;">Marca:</h3>
                <h4>{{data.category_name}}</h4>
                <h3 style="font-weight: bold;">Marca:</h3>
                <h4>{{data.category_name}}</h4>
                <h3 style="font-weight: bold;">Marca:</h3>
                <h4>{{data.category_name}}</h4>
          
            </div>
           
                
          


        
    </mat-grid-tile>

        <!---------------------------------------------->


        <mat-grid-tile [colspan]="1">
            <mat-card style="width: 80%; height: 100%;">


                <div mat-card-content></div>

                <h4>Calificacion del producto</h4>
                <mat-icon style="color: rgb(250, 209, 74);">star_rate</mat-icon>
                <mat-icon style="color: rgb(250, 209, 74);">star_rate</mat-icon>
                <mat-icon style="color: rgb(250, 209, 74);">star_rate</mat-icon>
                <mat-icon style="color: rgb(250, 209, 74);">star_rate</mat-icon>
                <mat-icon style="color: rgb(250, 209, 74);">star_rate_half</mat-icon>

                <h4 style="margin-top: 20px;">¿Alguna duda?</h4>
                <button style="width: 100%; margin-left: auto; margin-right: auto;" mat-raised-button>Escribenos! <mat-icon>chat</mat-icon></button>


                <h1 style="font-weight: 700; margin-top: 20px; font-size: 30px;">{{price | currency: 'USD'}}</h1>

       

                <mat-card-actions style="margin-top: 10%;">
                    <mat-form-field appearance="fill">
         
                        <mat-label>Cantidad</mat-label>
                        <mat-select [(value)]="selectedQuantity" (valueChange)="updateQuantity()">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let option of quantities" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
             


                    <button style="width: 100%; height: 50px; margin-left: auto; margin-right: auto; margin-bottom: 10px; background-color: dodgerblue; color: white;" mat-raised-button>Comprar <mat-icon>shopping_bag</mat-icon></button>



                    <div *ngIf="inCart; else notInCart">
                       <button disabled mat-button  style="width: 100%; margin-left: auto; margin-right: auto; color: black;">Agregado al carrito</button>
                       <button mat-button style="width: 100%; margin-left: auto; margin-right: auto; background-color: red; color: white;" (click)="removeFromCart()">Eliminar del carrito<mat-icon>remove_shopping_cart</mat-icon></button>
                    </div>

                    <ng-template #notInCart>
                        <button style="width: 100%; margin-left: auto; margin-right: auto;" mat-raised-button (click)="addToCart()">Agregar al carrito <mat-icon>add_shopping_cart</mat-icon></button>
                    </ng-template>
                  

                </mat-card-actions>


            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>




