


.image{
    margin-left: auto;
    margin-right: auto;

}



.products-img{
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.action-buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.cart-button{
    width: 100%;
    color: dodgerblue;
    margin-bottom: 10px;
}

.cart-button-delete{
    width: 100%;
    color: red;
    margin-bottom: 10px;
}


