


    <div *ngIf="cartProducts.length === 0; else productsCart">
        <h4>No hay productos en el carrito</h4>
    </div>




    <ng-template #productsCart>


        <mat-grid-list style="background-color: white; height: 100%;" rowHeight="450px" cols="3">
            <h2>Productos en el carrito</h2>


            <mat-grid-tile *ngFor="let product of cartProducts">



                <div style="width: 250px" class="products-ui">


                    <div class="image">
                        <img class="products-img" [src]="product.imagePath" alt="">

                    </div>

                    <div>

                        <h4 class="product-title">{{product.title}}</h4>
                        <div style="display: inline-flex;">
                            <h3 style="color: rgb(1, 157, 1); margin-right: 50px;">{{product.precio | currency: 'USD'}}</h3>
                            <h3 style="font-weight: 400;">Cantidad: {{product.quantity}}</h3>


                        </div>
                       

                            <button class="cart-button" mat-stroked-button (click)="updateQuantity(product)">
                                Editar cantidad <mat-icon>edit</mat-icon>
                            </button>
                 

                            <button class="cart-button-delete" mat-stroked-button (click)="removeProduct(product)">
                                Eliminar del carrito <mat-icon>delete_forever</mat-icon>
                            </button>
                  


                    </div>



                </div>



            </mat-grid-tile>


        </mat-grid-list>



    </ng-template>








