


.image{
    margin-left: auto;
    margin-right: auto;

}



.products-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.action-buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

