<div class="wrapper">
    <div class="box1">
        <mat-card style="display: grid; place-items: center;">
            <img style="width: 200px;" src="../../assets/finishedlogo.png" alt="">
            <br/>
        
            <h2 mat-card-title>Iniciar sesion</h2>
            <div class="input-group">
                <form [formGroup]="registrationForm">

                    <div class="email-form">
                        <label class="label">Nombre</label>
                        <input placeholder="Tu nombre y apellido" autocomplete="off" formControlName="name" name="name" class="input" type="text">
                        <div></div>
                    </div>
                    

                    <div class="email-form">
                        <label class="label">Correo electronico</label>
                        <input autocomplete="off" formControlName="email" name="Email" class="input" type="email">
                        <div></div>
                    </div>

                    
                    <div class="email-form">
                        <label class="label">Contraseña</label>
                        <input placeholder="minimo 8 caracteres" autocomplete="off" formControlName="password" name="Email" class="input" type="password">
                        <div></div>
                    </div>


                    <div class="email-form">
                        <label class="label">Vuelve a escribir tu contraseña</label>
                        <input autocomplete="off" formControlName="repeatPassword" name="Email" class="input" type="password">
                        <div></div>
                    </div>
                     
                        <button routerLink="/dashboard" style="width: 100%; margin-top: 20px; background-color: #1e90ff; color: white;" mat-stroked-button type="submit" (click)="register()">Crear  <mat-icon>login</mat-icon></button>
                </form>
            </div>
            </mat-card>
    </div>
  </div>
  