



<div class="user-account-grid">
    <div class="personal-info">
        <h2 style="font-weight: 300;">Informacion personal</h2>
        
        <h3><b>Nombre</b></h3>
        <h3>Jorge Sevilla</h3>
        <h3><b>Correo electronico</b></h3>
        <h3>jsdelduca@gmail.com</h3>
        <h3><b>Numero telefonico</b></h3>
        <h3>+58 04149675244</h3>
    </div>
    <div class="personal-info">
        <button style="width: 300px; margin-bottom: 20px;" mat-stroked-button>Cambiar correo <mat-icon>alternate_email</mat-icon></button>
        <button style="width: 300px; margin-bottom: 20px;" mat-stroked-button>Cambiar contraseña <mat-icon>key</mat-icon></button>
        <button style="width: 300px; margin-bottom: 20px;" mat-stroked-button>Cambiar numero de telefono <mat-icon>call</mat-icon></button>
        <button style="width: 300px; margin-bottom: 20px; background-color: red; color: white;" mat-stroked-button>Cerrar sesion<mat-icon>delete</mat-icon></button>
    

    </div>

</div>