


.shipping-form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.action{
    width: 100%;
}

.address-field{
    width: 100%;

}

.address-field-aditional{
    align-self: flex-start;
}