




.filter-form{
    margin-left: 20px;
}



.products-img{
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.image{
    margin-left: auto;
    margin-right: auto;

}



.cart-button{
    width: 100%;
    color: white;
}



.product-title{
    font-size: 14px;
    text-align: left;
}



