<div class="wrapper">
    <div class="box1">
        <mat-card style="display: grid; place-items: center; padding-bottom: 20px;">
            <img style="width: 200px;" src="../../assets/finishedlogo.png" alt="">
            <br/>
        
            <h3 mat-card-title>Inicia sesion para comprar y recibir tus productos</h3>
            <div class="input-group">
                <form class="login-form" [formGroup]="loginForm">

                    <div class="email">
                        <label class="label">Escribe tu correo de inicio de sesion</label>
                        <input style="max-width: 100%;" placeholder="Ej. direccion@correo.com" autocomplete="off" formControlName="login" name="Email" id="email" class="input" type="email">
                        <div></div>
                    </div>
                    

                    <div class="password">
                        <label class="label">Escribe tu contrasena</label>
                        <input style="max-width: 100%;" placeholder="contraseña" autocomplete="off" formControlName="password" name="Email" id="password" class="input" type="password">
                        <div></div>
                    </div>
                     
                        <button style="width: 100%; margin-top: 20px; background-color: #1e90ff; color: white;" mat-stroked-button type="submit" (click)="submitLogin()" routerLink="/dashboard">Iniciar sesion <mat-icon>login</mat-icon></button>
                </form>
            </div>
            <p style="margin-top: 20px;">No tienes una cuenta todavia?</p> 
            <button routerLink="/registration"  mat-stroked-button style="width: 80%;">Crear cuenta</button>
            </mat-card>
    </div>
  </div>
  