mat-card{
    width: 80%;
}



.cart-product-display{
    max-height: 100%;
    


}

.product-cart{
    margin-top: 20px;
    height: auto;
}


.products-img{
    height: 120px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.no-products-container{
   
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.no-products-content{
  text-align: center;
  margin-top: 40%;

}


.product-cart-content{
   
    margin-top: 20px;
    overflow-y: scroll;
    height: 60%;
    
}

