





.filter-form{
    width: 190px;
    margin-left: 10px;
}


.products-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.image{
    margin-left: auto;
    margin-right: auto;

}



