




.sidenav-content{
    width: 600px;
    
}


.products-img{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.cart-product-display{
    max-height: 50%;
    
    overflow-y: scroll;

}

.product-cart{
    margin-top: 20px;
    height: auto;
}


.no-products-content{
    text-align: center;
    margin-top: 40%;
}



