







<mat-sidenav-container class="example-container">
 
    <mat-sidenav #sidenav class="sidenav-content" position="end" mode="over" fixedInViewport="true" disableClose="true" >






  <div style="display: flex; text-align: center; margin-top: 20px;" class="title">


    <button style="margin-left: 10px;margin-right: 10px; " mat-icon-button (click)="sidenav.close()" disableRipple="true" ><mat-icon style="font-size: 30px;">arrow_back</mat-icon></button>
    <h1 style="margin-left: 20px;">Resumen del carrito</h1>
    
    

  </div>

  <mat-divider style="margin-top: 10px;"></mat-divider>



      <div *ngIf="cartProducts.length === 0; then noProducts else products"></div>




      <ng-template #products >



        <div class="cart-product-display">

     
    
        <div *ngFor="let product of cartProducts" class="product-cart">

          <button style="float: right;margin-right: 40px;" mat-icon-button disableRipple (click)="removeProduct(product)">Eliminar <mat-icon style="color: red;">delete</mat-icon></button>

          
    
    
            <div class="image">
                <img class="products-img" 
                    [src]="product.imagePath" >
            </div>





            <div class="product-title">
              <button mat-button >{{product.title}}</button>

            </div>

            <h3 style="margin-left: 10px">Cantidad</h3>

            <div class="price-quantity" style="display:flex; margin-left: 20px;">

              <div *ngIf="product.quantity >= 2; then active else disabled"></div>


              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <ng-template #active>
                  <mat-button-toggle style="background-color: rgb(124, 186, 249)" (click)="decreaseQuantity(product)"><mat-icon>remove</mat-icon></mat-button-toggle>
                </ng-template>
                <ng-template #disabled>
                  <mat-button-toggle disabled style="background-color: rgb(132, 132, 132)"><mat-icon>remove</mat-icon></mat-button-toggle>
                </ng-template>
                <mat-button-toggle>{{product.quantity}}</mat-button-toggle>
                <mat-button-toggle  style="background-color: rgb(124, 186, 249);" (click)="increaseQuantity(product)"><mat-icon>add</mat-icon></mat-button-toggle>
              </mat-button-toggle-group>

              <h1 style="margin-left: auto; margin-right: 10px; color: black">{{product.quantity*product.precio | currency: 'USD'}}</h1>



            </div>


     

         
        



        </div>

        </div>

        <mat-divider style="margin-top: 10px;"></mat-divider>

      

        <div class="checkout-section" style="text-align: center;">

          <div style="display: flex;">

            <h1 style="margin-left: 10px; margin-top: 30px;">
              TOTAL
            </h1>
  
            <h1 style="margin-left: auto; margin-right: 20px; margin-top: 20px;">
              {{total | currency: 'USD'}}
            </h1>
  

          </div>

       

          <button routerLink="/pago" mat-flat-button style="margin-top: 20px; margin-bottom: 10px;font-weight: 200;font-size: 20px;color: white;background-color: dodgerblue; width: 500px; height: 60px; margin-right: auto; margin-left: auto; display: block;" >
            Verificar y pagar <mat-icon>credit_card</mat-icon>
          </button>

          <button mat-button style="font-weight: 400; font-size: 18px;" routerLink="/cart" >Ver detalle de carrito</button>

     
        </div>

        


    


     
   


      </ng-template>


      <ng-template #noProducts>
        <div class="no-products-content">
         
            <h1>Tu carrito esta vacio </h1>
         
         
          <button style="background-color: dodgerblue; color: white;" mat-stroked-button (click)="sidenav.close()">Agrega productos!</button>

        </div>
 
      </ng-template>
    
      
    </mat-sidenav>
  
    <mat-sidenav-content>
    <ng-content></ng-content>
    </mat-sidenav-content>


  </mat-sidenav-container>
  